<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="home()">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="shoppingCart()">Shoping cart <span
                            class="badge badge-pill badge-primary">{{shQauntite}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="ajouterProd()" *ngIf="isConnected">+Je vends</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container col-mt-10">
    <form [formGroup]="addProdForm" (ngSubmit)="addProduct()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>product Name</label>
                <input type="text" class="form-control" name="productName" formControlName="productName">
                <div class="alert alert-danger" *ngIf="pName.touched && pName.invalid">
                    <div *ngIf="pName.errors.required">
                        le champ reference est obligatoire !
                    </div>

                </div>
            </div>
            <div class="form-group col-md-6">
                <label>product discription</label>
                <input type="text" class="form-control" name="productDisc" formControlName="productDisc">

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>prodDate</label>
                <input type="number" class="form-control" name="prodDate" formControlName="prodDate">
                <div class="alert alert-danger" *ngIf="pQtt.touched && pQtt.invalid">
                    <div *ngIf="pQtt.errors.required">
                        le champ quantite est obligatoire !
                    </div>

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">product price</label>
                <input type="text" class="form-control" name="productPrice" formControlName="productPrice">
                <div class="alert alert-danger" *ngIf="pPrice.touched && pPrice.invalid">
                    <div *ngIf="pPrice.errors.required">
                        le champ prix est obligatoire !
                    </div>

                </div>
            </div>
        </div>


        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputPassword4">photo</label>
                <input type="file" accept="image/*" class="form-control" name="productPic" formControlName="productPic"
                    (change)=" onFileSelected($event)">


                <div class="alert alert-danger" *ngIf="pPic.touched && pPic.invalid">
                    <div *ngIf="pPic.errors.required">
                        le champ photo est obligatoire !
                    </div>
                </div>




            </div>
        </div>

        <input type="submit" class="btn btn-info" value="Info">

    </form>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
      </footer>
      